:root {
  --primary-color: #4A4E74;
  --secondary-color: #918E9B;
  --font-color: #424242;
  --bg-color: #f5f5f5;
  --heading-color: #2B283A;
  --background-color: #ffffff;
  --stroke: #D5D4D8;
  --btn-bg-color: #ffffff;
} 

[data-theme="dark"]{
  --primary-color: #ffffff;
  --secondary-color: #918E9B;
  --font-color: #4A4E74;
  --bg-color: #3A69D2;
  --heading-color: #ffffff;
  --background-color:#1F2937;
  --stroke: #D5D4D8;
  --btn-bg-color:#D1D4F4;
}


body {
  background-color: #000000;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif; 
}

.main-body {
  padding: 10px 10px 10px 10px;
}

.app-body-backround {
  background-color: var(--background-color);
  width: 40%;
  margin: 30px auto;
  text-align: center;
  padding: 0 0 0 0;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}
 

.main-header {
  background-color: var(--bg-color);
  padding-top: 10px;
  padding-bottom: 50px;
}

.main-header > h1 { 
  font-weight: 800;
  font-size: 1.65em;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--heading-color);
}
.main-header > h2 { 
  font-weight: 400;
  font-size: 0.65em;
  line-height: 10px;
  text-align: center;
  color: var(--heading-color);
}

.main-content-sec {
  padding: 30px 30px 30px 30px;
  background-color: var(--background-color);
}



.btn-pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-pricing > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px;
  background: var(--btn-bg-color);
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  border-radius: 7px;
  margin: auto 10px; 
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #4A4E74;
} 
  

.task-total-sec {
  padding-top: 30px;
  display: flex;
  font-weight: 700;
  font-size: 0.3em;
  line-height: 20px;
  color: var(--secondary-color);
}

.task {
  margin-right: auto;
}

.tasks-done {
  display: flex;
  justify-content: center; 
}

.tasks-done > p {
  font-size: 0.65em;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 0px;
}
 
.specific-task {
  margin-right: auto; 
}

.remarks {
  display: flex;
  font-size: 0.3em;
  align-items: center;
  color: var(--secondary-color);
}

.remarks2 {
  display: flex;
  font-size: 0.5em;
  align-items: center;
  color: var(--primary-color);
}

.remarks2 > h2 {
  font-size: 30px;
  line-height: 5px;
}

.note-remarks {
  margin-right: auto;
}

.send-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;
  width: 100%;
  height: 44px;
  background: #3770ed;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  font-size: 0.65em;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

.btn-icon {
  color: #ffffff;
  margin: auto 5px;
  font-size: 1.25em;
}




.mode-switcher {
  margin: 0px -400px -10px 30px;
}
  


input {
  -webkit-appearance: none;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ffffff ; 
  background-size: cover;
  border-radius: 50px;
  outline: none;
}

input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #3770ED;
  border-radius: 50px;
}

input:checked {

  background-color: #ffffff;
}

input:checked:before {
  transform: translate(100%);
}