body {
  background-color: #000000;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: #2b3e51;
}

.main-body {
  padding: 10px 10px 10px 10px;
}

.app-body-backround {
  background-color: #ffffff;
  width: 40%;
  margin: 30px auto;
  text-align: center;
  padding: 0 0 0 0;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}
 

/* .main-header {
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 50px;
}

.main-header > h1 { 
  font-weight: 800;
  font-size: 1.65em;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #2b283a;
}
.main-header > h2 { 
  font-weight: 400;
  font-size: 0.65em;
  line-height: 10px;
  text-align: center;
  color: #2b283a;
} */



.dark-main-header {
  background-color: #3A69D2;
  padding-top: 10px;
  padding-bottom: 50px;
}

.dark-main-header>h1 {
  font-weight: 800;
  font-size: 1.65em;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.dark-main-header>h2 {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
}









.mode-switcher {
  margin: 0px -320px -200px 30px;
}

/* .main-content-sec {
  padding: 30px 30px 30px 30px;
  background-color: #ffffff;
} */

.dark-main-content-sec {
  padding: 30px 30px 30px 30px;
  background-color: #1F2937;
}

/* .btn-pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-pricing > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px;
  background: #ffffff;
  border: 1px solid #d5d4d8;
  box-sizing: border-box;
  border-radius: 7px;
  margin: auto 10px; 
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #4a4e74;
} */

.dark-btn-pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dark-btn-pricing > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px;
  background: #D1D4F4;
  border: 1px solid #d5d4d8;
  box-sizing: border-box;
  border-radius: 7px;
  margin: auto 10px; 
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #4A4E74;
} 

/* .task-total-sec {
  padding-top: 30px;
  display: flex;
  font-weight: 700;
  font-size: 0.3em;
  line-height: 20px;
  color: #918e9b;
} */

.dark-task-total-sec {
  padding-top: 30px;
  display: flex;
  font-weight: 700;
  font-size: 0.3em;
  line-height: 20px;
  color: #D5D4D8;
}

.task {
  margin-right: auto;
}
/* 
.tasks-done {
  display: flex;
  justify-content: center;
}

.tasks-done > p {
  font-size: 0.65em;
  font-weight: 700;
  color: #4a4e74;
} */

.dark-tasks-done {
  display: flex;
  justify-content: center;
}

.dark-tasks-done > p {
  font-size: 0.65em;
  font-weight: 700;
  color: #F5F5F5;
}

.specific-task {
  margin-right: auto;
}

.remarks {
  display: flex;
  font-size: 0.3em;
  align-items: center;
  color: #918e9b;
}

.dark-remarks {
  display: flex;
  font-size: 0.3em;
  align-items: center;
  color: #D5D4D8;
}

.remarks2 {
  display: flex;
  font-size: 0.5em;
  align-items: center;
  color: #F5F5F5;
}

.remarks2 > h2 {
  font-size: 30px;
  line-height: 5px;
}

.note-remarks {
  margin-right: auto;
}

.send-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;
  width: 100%;
  height: 44px;
  background: #3770ed;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  font-size: 0.65em;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

.btn-icon {
  color: #ffffff;
  margin: auto 5px;
  font-size: 1.25em;
}
















.toggle-btn{
  padding-left: 430px; 
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+label {
  background: #bada55;
}

input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}
 